doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        title agregar alumno
    body(class="bg-dark text-white")
        <center>
        br
        br
        <h1>agregar nuevo alumno</h1>
        br
        <table style="width: 20%;">
            form(action="add_student_to_sql", method="post") 
                tr
                    td matricula 
                    td
                        input(type="text", name="matricula" ,max=11 , required)
                tr 
                    td nombre
                    td 
                        input(type="text", name="nombre",max=30,required)
                tr 
                    td apellido
                    td
                        input(type="text", name="apellido",max=30,required)
                tr  
                    td curso
                    td
                        select(name="curso")
                            option(value="") no inscribir curso.... 
                            each curso in cursos
                                option(value=curso.cod_curso)=curso.nombre 
                tr 
                    td
                    td
                        button(style="background-color:red;padding: 5px 5px 5px 5px;  border-radius: 5px; color:white;",type="submit") Agregar
                        button(style="background-color:blue;padding: 5px 5px 5px 5px;  border-radius: 5px;") 
                            <a style="text-decoration: none; color:white" , href="/alumnos">Cancelar ↺</a>    
        </table>
        
